# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib



firmware/assets/crackling-fireplace_daniel-simion.wav
firmware/assets/387128__nooneisreal__the-fireplace-3.wav
firmware/assets/370243__inchadney__fire.wav
firmware/assets/248241__jarredgibb__matchbox-strike-and-light-03.wav
firmware/assets/223610__ctcollab__fire-sound.wav
